* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.calander {
    background-color: black;
    color: lightgrey;
    width: 450px;
    max-width: 100%; 
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.month {
    padding: 20px;
    background-color: lightseagreen;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.month h1 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.month p {
    font-size: 16px;
}

.WEEK {
    display: none; 
}

.days {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}

.days div {
    font-size: 14px;
    margin: 3px;
    width: calc(14.28% - 6px); 
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days div:hover:not(.empty) {
    border: 2px solid gray;
}

.today {
    background-color: lightseagreen;
}

@media (min-width: 768px) {
    .calander {
        width: 90%;
        max-width: 450px;
    }

    .WEEK {
        display: flex; 
    }

    .days div {
        width: calc(14.28% - 6px);
    }
}

    
